.lb-form{
	position: relative;
	height: 30px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.lb-form.error{
	border-color: #f00;
}
body>object,body iframe{
	display: none;
}
.lb-input{ 
	position: absolute;
	left: 0;
	top:0;
	right: 0;
	height: 30px;
	line-height: 30px;
	border: 0 none;
	border-radius:5px; 
	bottom: 0;
	z-index: 1;
	width: 100%;
	text-indent: 8px;
}
input.lb-input[type="hide"],input.lb-input[type="file"]{
	display: none;
	z-index: -1;
}
.Wdate{
	border: 0 none !important;
	height: 30px !important;
}
.lb-msg{
	position: absolute;
	left:3px;
	bottom:-24px;
	*bottom:-12px;
	height: 22px;
	line-height: 30px;
	display: block;
	z-index: 99;
	font-size: 12px;
	color:#f00;
}
.lb-msg-arrow{
	position: absolute;;
	top:-11px;
	margin-left:-3px; 
	left: 50%;
	height: 0;
	width: 0;
	font-size: 0;
	border:6px solid transparent;
	border-bottom-color: #fdfdfd; 
	z-index: 3;
}
.lb-msg-arrow-border{
	position: absolute;;
	top:-12px;
	margin-left:-3px; 
	left: 50%;
	height: 0;
	width: 0;
	font-size: 0;
	border:6px solid transparent;
	border-bottom-color: #dedede; 
	z-index: 2;
}
.lb-msg-con{
	border: 1px solid #dedede;
	background-color: #fdfdfd;
	padding: 0 15px;
	height: 22px;
	line-height: 22px;
	border-radius:5px; 
}
.lb-input-select-list{
	position: absolute;
	left: 1px;
	right:1px;
	padding: 0;
	margin: 0;
	display: none;
	z-index: 2;
	border:1px solid #ddd; 
	background-color: #fff;
	overflow-y: scroll; 
}
.lb-input-select-list li {
	font-size: 12px;
	margin: 0;
	padding: 0 5px;
	line-height: 22px;
	cursor: default;
}
.lb-file-name{
	float: left;
	margin: 2px 5px;
	line-height: 26px;
	padding-left: 28px;
	background: url(../images/imglink.png) no-repeat 5px  center;
	cursor: pointer;
}
.lb-file-tip{
	color: #999;
	font-size: 12px;
	float: left;
	line-height: 26px;
	padding: 2px 5px;
}
.lb-pop{
	position: fixed;
	top:0;
	left: 0;
	bottom:0;
	right:0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
}
.lb-pop-con{
	position: fixed;
	top:50%;
	left: 50%;
	margin-left: -156px;
	margin-top: -156px;
	width: 300px;
	height: 300px;
	border:1px solid #ddd;  
	z-index: 1001;
	background: #fff;
	padding: 10px;
	border-radius:10px; 
}
.lb-pop-con div{
	display: table-cell;
	width: 300px;
	height: 300px;
	text-align: center;
	vertical-align: middle;
}
.lb-pop-con img{
	max-width: 298px;
	max-height: 298px;
	border:1px solid #eee; 
	border-radius:8px; 
}
.lb-pop-close{
	position: absolute;
	top:-8px;
	right:-8px;
	border: 1px solid #ddd;
	border-radius: 8px;
	width: 16px;
	height: 16px;
	display: block;
	cursor: pointer;
	background:#fff url(../images/uploadify-cancel.png) no-repeat center center;
}
.lb-pop-bg{
	position: absolute;
	top:0;
	left: 0;
	bottom:0;
	right:0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
	filter:alpha(opacity=40);
	z-index: 1000;
}
